.charSelect {

  @include clearfix;
  float: left;
  margin: 5px;
  border: 1px solid transparent;

  .active{
  border: 1px solid transparent;
  &:hover {
      border:1px solid red;
  }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

} 

.round{
  border-radius: 25px;
}

.SelectTitle{
  text-align: center;
}

.pricebar{
  margin: 10px;
  float: center;
}

#portrait {
  display: block;
}

#Stats {
  display: block;
}

#quantitySelect {
  display: inline-block;
}

#btn-success {
  display: inline-block;
}

#categorySelect {
  float: center;
}

.filters {
  margin: 50px 50px 50px 50px;
}

.activeFilters {
  display: inline-block;
  margin: 10px;
}

.inactive {
  border: 1px solid transparent;
  opacity: .25;
}

#admin-panel {
  margin-top: 50px;
}

