
<div class="container" id="characterSelected">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1> Character Select </h1>
      <img src="http://www.zweifuss.ca/alex/alexstance.gif" alt="">
      Test: {{test}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <div class="charSelect" ng-repeat="character in characters">
        <div class="col-xs-2" ng>
          <img ng-src="{{character.portrait}}">
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div ng-repeat="character in characters">
  <h3>{{character.name}}</h3>
  <h4>{{character.price}}</h4>
  <img ng-src="{{character.portrait}}">
</div>-->
