
<div class="col-xs-2 well well-lg" >
      <h1>Cart</h1>
      <div ng-repeat="character in $storage.cart">
        <h3>{{character.name}} x{{character.quantity}}</h3>
        <div class="col-xs-6">
          <img src="{{character.idleSprite}}" alt="">
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-default glyphicon glyphicon-plus" ng-click="changeQuantity(character, 1)"></button>
          <button type="button" class="btn btn-default glyphicon glyphicon-minus" ng-click="changeQuantity(character, -1)"></button>
          <button type="button" class="btn btn-default glyphicon glyphicon-remove" ng-click="clearChar(character)"></button>
        </div>
      </div>
      <h4>Total: ${{$storage.total}}</h4>

      <button type="button" class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>

      <button type="button" class="btn btn-default btn-sm" ui-sref="checkout">
          <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
      </button>
</div>
<div class="col-xs-10">
  <div class='jumbotron'>
  <div class="container" id="characterSelected">


      <h2 class="SelectTitle">Select Your Character!</h2>
      <br>
        <div class="col-xs-4 col-xs-offset-4">
          <h4>{{selectedCharacter.name}}</h4>
          <h6>Price: ${{selectedCharacter.price}} </h6>
          <div class="col-xs-6">
            <br>
            <img id="portrait" ng-src="{{selectedCharacter.idleSprite}}" alt="">
          </div>
          <div class="col-xs-4">
            <ul id="Stats">
              <li>Strength: {{selectedCharacter.strength}}</li>
              <li>Speed: {{selectedCharacter.speed}}</li>
              <li>Intelligence: {{selectedCharacter.intelligence}}</li>
              <li>Luck: {{selectedCharacter.luck}}</li>
            </ul>
          </div>
        </div>
      <br>
      <div class="row row-centered col-xs-offset-1 col-xs-10 col-xs-offset-1" id="catbar">
        <div class='col-xs-3' ng-repeat='category in sortedCategories'>
          <select data-toggle="select" class="form-control select select-inverse mrs mbm" ng-model='selected' ng-change="addFilter(selected)">
        <option value=''>{{category[0]}}</option>
        <option ng-repeat="option in category" ng-if="option!=category[0]" value={{option}}>{{option.value}}</option>
      </select>
        </div>
        <div class='col-xs-3'>
          <button ng-click="clearFilter()" type="button" class="btn btn-danger" id="clearFilters">Clear Filter(s)</button>
        </div>
      </div>

    </div>
    </div>
      <div class="col-xs-12">
        <div class="charSelect row" ng-repeat="character in characters">
          <div ng-class='{active: !character.inactive, inactive : character.inactive}' ng-mouseover='character.inactive || selectCharacter(character)' ng-click="character.inactive || go('characterDetail', { id : character.id })">
            <img ng-src="{{character.portrait}}">
          </div>
        </div>
      </div>
      <br>
      <div class='row filters '>
        <div class='col-xs-offset-5 col-xs-5 '>
          <h5>Active Filters</h5>
        </div>
        <br>
        <div class='col-xs-12 '>
          <div class='activeFilters ' ng-repeat="filter in activeFilter">
            <h7>{{filter.value}}
              <h7>
                <button class='round btn-danger ' ng-click='deleteFilter(filter) '>x</button>
          </div>
        </div>
      </div>
  </div>
</div>
