<div class='container'>
<div class='col-xs-offset-2 col-xs-5'>
<h1>Orders</h1>
<ul class='list-group' ng-repeat="order in userOrders">
    <li class="list-group-item">
    <h4> Order Status: {{order.status}} </h4>
        <ul ng-repeat='character in order.characters'>
          <li>{{character.name}}</li>
        </ul>
    <br>
    <button class="modifyorder btn-warning" id="wtf2" ui-sref='modifyOrder(order)'>Modify order</button>
    <button class="deleteorder btn-danger" id="wtf2" ng-click='deleteOrder(order)'>Delete order</button>
    </li>
</div>
</div>
</div>